body{
	background:lightblue
}
p{
	font-size:16;
	font-family:Arial;
	
}

selection{
	position: absolute;
	top: 1px;
	left: 1250px;

}

nav{
	position: absolute;
	top: 120px;
	left: 100px;

}

H1{
	font-size:30;
	font-family:Arial;
}

H2{
	font-size:40;
	font-family:Arial;
}

table{
	font-size:40;
	font-family:Arial;
	position: absolute;
	top: 150px;
	left: 600px;

}